<div class="row">
  <div *ngIf="node.nodeType == TreeNodeType.Folder; then TFolder else TFile" ></div>
  <ng-template #TFolder>
    <div class="col-sm-12 browser-item folder" (click)="clickFolder()">
      <i class="glyphicon glyphicon-folder-close center-block no-float"></i>
      <div class="browser-item-name">{{node.name}}</div>
    </div>
  </ng-template>
  <ng-template #TFile>
    <div class="col-sm-12 browser-item file" (click)="clickFile()">
      <i class="glyphicon glyphicon-file center-block no-float">
        <span class="tree-file-ext align-middle">{{node.ext}}</span>
      </i>
      <div class="browser-item-name">{{node.name}}</div>
    </div>
  </ng-template>
</div>
