
  <li >
    <a (click)="expand()"><i class="glyphicon" [class.glyphicon-minus]="thisNode.expanded" [class.glyphicon-plus]="!thisNode.expanded" ></i></a>
    <a (click)="folderClicked()" class="tree-view-folder"><i class="glyphicon tree-node-icon"
             [class.glyphicon-folder-close]="!thisNode.expanded"
             [class.glyphicon-folder-open]="thisNode.expanded">
        </i>{{thisNode.name}}</a>
    <ul *ngIf="thisNode.childrens.length > 0">
      <li *ngFor="let node of thisNode.childrens; let i = index">
        <app-tree-view-folder *ngIf="node.nodeType == TreeNodeType.Folder" [treeView]="treeView" [thisNode]="node"></app-tree-view-folder>
        <app-tree-view-file *ngIf="node.nodeType == TreeNodeType.File" [treeView]="treeView" [thisNode]="node"></app-tree-view-file>
      </li>
    </ul>
  </li>


