<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
    <!--<div style="position: absolute; top:5px; right:10px; width:20px; height:20px; text-align:center;  border-radius: 50%; background: red; border-shadow: 1 1 5 gray;">x</div>-->
    <button (click)="closeDialog()" class="btn btn-default btn-sm " style="position: absolute; top:5px; right:10px; float:right; color:darkred"><i class="glyphicon glyphicon-off" ></i></button>
  </div>
  <div class="panel-body">
    <div class="">
      <form method="" action="" #myForm="ngForm">

        <div *ngFor="let input of inputs"  class="form-group">
          <label *ngIf="input.label" style="color:red; font-weight: normal" >{{ input.label }}</label>
          <input *ngIf="input.tag == 'input'" type="{{input.type}}" value="{{input.value}}" name="{{input.name}}" class="{{ input.classes }}"  ngModel="{{input.value}}"/>
          <galal-ui-autocomplete *ngIf="input.tag == 'autocomplete'" [name]="input.name" [multiSelect]="input.multiselect" [searchURL]="input.searchURL"  [blurFn]="onChange.bind(this)" ></galal-ui-autocomplete>
        </div>

        <div class="form-group">

          <button class="btn btn-danger btn-block" (click)="closeDialog(myForm)">close</button>
        </div>

      </form>
    </div>
  </div>
</div>
